<div class="img-grid-table">
    <div class="row">
        <!--<div class="col-md-3 hidden-sm hidden-xs"></div>-->
        <div class="col-md-12 col-xs-12">
            <img src="components/images/projects/bobolinks/bobo-web.png" class="img-responsive center-block"/>
        </div>
        <!--<div class="col-md-3 hidden-sm hidden-xs"></div>-->
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <img src="components/images/projects/bobolinks/bobo-web1.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <img src="components/images/projects/bobolinks/bobo-web3.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/bobolinks/bobo-web2.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/bobolinks/bobo-web4.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="components/images/projects/bobolinks/bobo-app1.png" class="img-responsive"/>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="components/images/projects/bobolinks/bobo-app2.png" class="img-responsive"/>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="components/images/projects/bobolinks/bobo-app3.png" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="components/images/projects/bobolinks/bobo-app6.png" class="img-responsive"/>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="components/images/projects/bobolinks/bobo-app4.png" class="img-responsive"/>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="components/images/projects/bobolinks/bobo-app5.png" class="img-responsive"/>
        </div>
    </div>
</div>