<div class="row mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/uyO_zPYxXU4?autoplay=1&loop=1&playlist=uyO_zPYxXU4"
                allowfullscreen></iframe>
    </div>
</div>

<div class="row mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/6kmhT4TGF8I?autoplay=1&loop=1&playlist=6kmhT4TGF8I"
                allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify1.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify2.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify3.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify4.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify5.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify6.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/wTM_RfCOlok?autoplay=1&loop=1&playlist=wTM_RfCOlok"
                allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col">
        <img src="components/images/projects/fluxify/fluxify-branding.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            The process of this project included conducting interviews,
            writing personas and scenarios, creating taskflows and
            wireframes, and user testing.
        </p>
        <p>To learn about the full process, you can view the PDF below:</p>
        <a href="components/images/projects/fluxify/fluxify-process-pdf.pdf" target="_blank">
            <button class="btn fluxify-button">Download PDF</button>
        </a>
    </div>
</div>