<div class="row justify-content-center mb-4">
    <div class="col-md-5 col-sm-12">
        <video class="embed-responsive embed-responsive-16by9" autoplay muted loop preload>
            <source src="components/images/projects/fluxify/video-1.mp4" type="video/mp4">
        </video>
    </div>

    <div class="col-md-5 col-sm-12">
        <video class="embed-responsive embed-responsive-16by9" autoplay muted loop preload>
            <source src="components/images/projects/fluxify/video-2.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-md-5 col-sm-12">
        <video class="embed-responsive embed-responsive-16by9" autoplay muted loop preload>
            <source src="components/images/projects/fluxify/video-3.mp4" type="video/mp4">
        </video>
    </div>

    <div class="col-md-5 col-sm-12">
        <video class="embed-responsive embed-responsive-16by9" autoplay muted loop preload>
            <source src="components/images/projects/fluxify/video-4.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify1.png" class="img-fluid fill mb-4" />
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify2.png" class="img-fluid fill mb-4" />
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify3.png" class="img-fluid fill mb-4" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify4.png" class="img-fluid fill mb-4" />
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify5.png" class="img-fluid fill mb-4" />
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/fluxify/fluxify6.png" class="img-fluid fill mb-4" />
    </div>
</div>

<div class="row mb-4">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t85nMCQlEPQ" allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col">
        <img src="components/images/projects/fluxify/fluxify-branding.png" class="img-fluid fill mb-4" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            The process of this project included conducting interviews, writing personas and scenarios, creating taskflows and wireframes,
            and user testing.
        </p>
        <p>To learn about the full process, you can view the PDF below:</p>
        <a href="components/images/projects/fluxify/fluxify-process-pdf.pdf" target="_blank">
            <button class="btn fluxify-button">Download PDF</button>
        </a>
    </div>
</div>