<div class="row mb-4">
  <div class="col-md-12 col-sm-12">
    <img src="components/images/projects/gnight/gnight-main.jpg" class="img-fluid fill" />
  </div>
</div>

<p class="orange-quote col-md-6 col-sm-12">Dreams are the expression of everything that's on your mind &mdash; they are weird, hard to understand, and often forgotten.</p>

<div class="row mb-4">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xeNHjgiFEgQ?autoplay=1&loop=1&playlist=xeNHjgiFEgQ"
      allowfullscreen></iframe>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-12 col-sm-12">
    <img src="components/images/projects/gnight/gnight-1.jpg" class="img-fluid fill drop-shadow-1" />
  </div>
</div>

<span class="viewer-caption-title">Your Visual Dream Journal</span>
<p class="mb-4 col-md-7 px-0">The dream timeline shows the user the people, places and things they have dreamed about recently. The user can zoom in on
  the timeline and interact with the dreams and characters. They can view the dream transcripts, or navigate to the specific
  character pages.</p>

<div class="row mb-4">
  <div class="col-md-6 col-sm-12">
    <img src="components/images/projects/gnight/gnight-2.jpg" class="img-fluid fill drop-shadow-1" />
  </div>
  <div class="col-md-6 col-sm-12">
    <img src="components/images/projects/gnight/gnight-3.jpg" class="img-fluid fill drop-shadow-1" />
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-12 col-sm-12">
    <img src="components/images/projects/gnight/gnight-4.jpg" class="img-fluid fill drop-shadow-1" />
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6 col-sm-12">
    <img src="components/images/projects/gnight/gnight-5.jpg" class="img-fluid fill drop-shadow-1" />
  </div>
  <div class="col-md-6 col-sm-12">
    <img src="components/images/projects/gnight/gnight-6.jpg" class="img-fluid fill drop-shadow-1" />
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-5">
    <span class="viewer-caption-title">Statistics</span>
    <p>The statistics feature of the website shows the user patterns and trends between their length of sleep, the vividness
      of their dreams, and the mood of their dreams.</p>
  </div>
  <div class="col-md-7">
    <span class="viewer-caption-title">Dream Catalog</span>
    <p>The dream catalog serves as documentation of all the dreams the user has logged. The user can view the transcripts of
      all the dreams, so this acts as a digital dream journal. Additionally, this is where users are able to upload images
      to be used in the timeline and collages.</p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-4 col-sm-12">
    <img src="components/images/projects/gnight/gnight-7.png" class="img-fluid fill" />
  </div>
  <div class="col-md-4 col-sm-12">
    <img src="components/images/projects/gnight/gnight-8.png" class="img-fluid fill" />
  </div>
  <div class="col-md-4 col-sm-12">
    <img src="components/images/projects/gnight/gnight-9.png" class="img-fluid fill" />
  </div>
</div>

<div class="row mb-4">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/apYIZoHz3LY?autoplay=1&loop=1&playlist=apYIZoHz3LY"
      allowfullscreen></iframe>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-md-10 col-sm-12">
    <img src="components/images/projects/gnight/gnight-10.jpg" class="img-fluid fill" />
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4 col-sm-12">
    <p>To read about the process of this project, download my process book.</p>
  </div>
</div>

<div class="mx-auto" style="width: 10rem;">
  <a href="components/files/gnight-process.pdf" target="_blank">
    <button type="button" class="btn btn-pink">Process Book</button>
  </a>
</div>