<p class="viewer-title mb-4">Prague Synagogue Illustrations</p>
<div class="row mb-4">
    <div class="col-md-6 col-sm-12">
        <img src="components/images/projects/illustration/ceremonial-hall.jpg" class="img-fluid fill" />
    </div>

    <div class="col-md-6 col-sm-12">
        <img src="components/images/projects/illustration/old-new-synagoge.jpg" class="img-fluid fill" />
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4 col-sm-12">
        <img src="components/images/projects/illustration/maisle-synagoge.jpg" class="img-fluid fill" />
    </div>

    <div class="col-md-4 col-sm-12">
        <img src="components/images/projects/illustration/pinkas-synagoge.jpg" class="img-fluid fill" />
    </div>

    <div class="col-md-4 col-sm-12">
        <img src="components/images/projects/illustration/spanish-synagoge.jpg" class="img-fluid fill" />
    </div>
</div>

<p class="viewer-title mb-4">Watercolor Paintings</p>
<div class="row mb-4">
    <div class="col-md-6 col-sm-12">
        <img src="components/images/projects/illustration/selfie.jpg" class="img-fluid fill" />
    </div>

    <div class="col-md-6 col-sm-12">
        <img src="components/images/projects/illustration/watercolor-study.jpg" class="img-fluid fill" />
    </div>
</div>

<p class="viewer-title mb-4">Linoleum Block Print and Monoprint</p>
<div class="row mb-4">
    <div class="col-md-6 col-sm-12">
        <img src="components/images/projects/illustration/warrior-girl.jpg" class="img-fluid fill" />
    </div>

    <div class="col-md-6 col-sm-12">
        <img src="components/images/projects/illustration/city.png" class="img-fluid fill" />
    </div>
</div>

<p class="viewer-title mb-4">Digital Collage and Illustration</p>
<div class="row mb-4">
    <div class="col-md-8 col-sm-12">
        <img src="components/images/projects/illustration/digital-1.jpg" class="img-fluid fill" />
    </div>

    <div class="col-md-4 col-sm-12">
        <img src="components/images/projects/illustration/digital-2.png" class="img-fluid fill" />
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4 col-sm-12">
        <img src="components/images/projects/illustration/digital-3.jpg" class="img-fluid fill" />
    </div>

    <div class="col-md-8 col-sm-12">
        <img src="components/images/projects/illustration/digital-4.jpg" class="img-fluid fill" />
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-12 col-sm-12">
        <img src="components/images/projects/illustration/digital-5.jpg" class="img-fluid fill" />
    </div>
</div>