<div class="row">
    <div class="col">
        <img src="components/images/projects/maxpoint/maxpoint1.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/maxpoint/maxpoint2.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/maxpoint/maxpoint3.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>


<span class="viewer-title">Ideation</span>
<p class="mb-4">My personal exploration and ideation for logo,
backdrop graphic, and image treatment.</p>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/maxpoint/maxpoint-ideation1.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/maxpoint/maxpoint-ideation2.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/maxpoint/maxpoint-ideation3.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/maxpoint/maxpoint-ideation4.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col">
        <img src="components/images/projects/maxpoint/maxpoint-ideation5.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<span class="viewer-title">MaxPoint 101 Booklet</span>
<p class="mb-4">I laid out the content and integrated illustrations into a booklet that was handed out at the conference.</p>

<div class="row">
    <div class="col-md-3">
        <img src="components/images/projects/maxpoint/maxpoint-front.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/maxpoint/maxpoint-spread1.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <img src="components/images/projects/maxpoint/maxpoint-spread2.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row justify-content-end">
    <div class="col-md-6">
        <img src="components/images/projects/maxpoint/maxpoint-spread3.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-3">
        <img src="components/images/projects/maxpoint/maxpoint-back.png" class="img-fluid fill mb-4"/>
    </div>
</div>