<div class="row">
    <div class="col">
        <img src="components/images/projects/metropolis/metropolis-header.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="components/images/projects/metropolis/metro-front.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-8">
        <img src="components/images/projects/metropolis/metro-spread2.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/metropolis/metro-spread3.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/metropolis/metro-spread4.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/metropolis/metro-spread5.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/metropolis/metro-spread6.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="components/images/projects/metropolis/metro-back.png" class="img-fluid fill mb-4"/>
    </div>
</div>