<div class="row justify-content-md-center">
    <div class="col-md-10">
        <img src="components/images/projects/prcv/prcv-brandimages.jpg" class="img-fluid mb-4 fill"/>
    </div>
</div>

<div class="row">
    <div class="col">
        <img src="components/images/projects/prcv/prcv-brandguide.png" class="img-fluid mb-4 fill"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-4">
        <p>
            The branding of this exhibit was the most collaborative aspect of the project.
            My contribution to the branding mainly focused on color exploration and the
            development of image treatment and how the pattern and motifs could be
            incorporated with photography.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <img src="components/images/projects/prcv/prcv-wearable-panel.png" class="img-fluid mb-4 fill"/>
    </div>
    <div class="col-md-7">
        <img src="components/images/projects/prcv/prcv-wearables.png" class="img-fluid mb-4 fill"/>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <img src="components/images/projects/prcv/prcv-website-mockup.jpg" class="img-fluid mb-4 fill"/>
        <img src="components/images/projects/prcv/prcv-marketing.jpg" class="img-fluid mb-4 fill"/>
        <div class="mb-4">
            <p>
                My other contributions included designing the function and
                appearance of the wearables, wayfinding mockups, and data
                visualization graphics and animations.
            </p>
        </div>
    </div>

    <div class="col-md-5">
        <img src="components/images/projects/prcv/prcv-website.jpg" class="img-fluid mb-4 fill"/>
    </div>
</div>

<!--<div class="row">-->
    <!--<div class="col-md-6 mb-4">-->
        <!--<p>-->
            <!--My other contributions included designing the function and-->
            <!--appearance of the wearables, wayfinding mockups, and data-->
            <!--visualization graphics and animations.-->
        <!--</p>-->
    <!--</div>-->
<!--</div>-->

<div class="row justify-content-md-center">
    <div class="col-md-10">
        <img src="components/images/projects/prcv/prcv-panel2.jpg" class="img-fluid mb-4 fill"/>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-10">
        <img src="components/images/projects/prcv/prcv-panel1.jpg" class="img-fluid mb-4 fill"/>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-10">
        <img src="components/images/projects/prcv/prcv-data.gif" class="img-fluid mb-4 fill"/>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-10">
        <img src="components/images/projects/prcv/prcv-handout.jpg" class="img-fluid mb-4 fill"/>
    </div>
</div>