<div class="retrace-video">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LIZ845Sakmk" allowfullscreen></iframe>
    </div>
</div>

<div>
    <img src="components/images/projects/retrace/retrace-app.png" class="img-responsive center-block"/>
</div>

<div class="row">
    <div class="col-md-4 col-xs-12">
        <img src="components/images/projects/retrace/retrace-handout1.png" class="img-responsive center-block"/>
    </div>

    <div class="col-md-4 col-xs-12">
        <img src="components/images/projects/retrace/retrace-handout2.png" class="img-responsive center-block"/>
    </div>

    <div class="col-md-4 col-xs-12">
        <img src="components/images/projects/retrace/retrace-handout3.png" class="img-responsive center-block"/>
    </div>
</div>

<div>
    <img src="components/images/projects/retrace/retrace-archive.png" class="img-responsive center-block"/>
</div>