<div class="row">
    <div class="col">
        <img src="components/images/projects/revolutions/revolutions-image 1.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row justify-content-end">
    <div class="col-md-3">
        <img src="components/images/projects/revolutions/revolutions-front.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-spread1.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-spread2.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-spread3.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-spread4.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-spread5.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-spread6.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-spread7.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-spread8.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-spread9.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col">
        <img src="components/images/projects/revolutions/revolutions-spread10.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-spread11.png" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-3">
        <img src="components/images/projects/revolutions/revolutions-back.png" class="img-fluid fill mb-4"/>
    </div>
</div>

<span class="viewer-title">Process</span>

<div class="row">
    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-exploration_1.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-exploration_2.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-exploration_3.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-exploration_4.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-exploration_5.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-exploration_6.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-exploration_7.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-exploration_8.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-exploration_9.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-sketch1.jpeg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-sketch2.jpeg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-sketch3.jpeg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-sketch4.jpeg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-sketch5.jpeg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-4">
        <img src="components/images/projects/revolutions/revolutions-sketch6.jpeg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-process1.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-process2.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-process3.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-process4.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-process5.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-6">
        <img src="components/images/projects/revolutions/revolutions-process6.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>