<div class="row mb-4">
    <div class="col-md-6 col-sm-12">
        <img src="components/images/projects/wedding/wedding-image1.jpg" class="img-fluid fill"/>
    </div>
    <div class="col-md-6 col-sm-12">
        <img src="components/images/projects/wedding/wedding-image2.jpg" class="img-fluid fill"/>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-2 col-sm-12">
        <img src="components/images/projects/wedding/wedding-button.jpg" class="img-fluid fill"/>
    </div>
    <div class="col-md-4 col-sm-12">
        <img src="components/images/projects/wedding/wedding-invitation.jpg" class="img-fluid fill"/>
    </div>

    <div class="col-md-6 col-sm-12">
        <img src="components/images/projects/wedding/wedding-details.png" class="img-fluid fill"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <img src="components/images/projects/wedding/wedding-seating-chart.jpg" class="img-fluid fill mb-4"/>
    </div>
    <div class="col-md-3 col-sm-12">
        <img src="components/images/projects/wedding/wedding-program1.jpg" class="img-fluid fill mb-4"/>
    </div>

    <div class="col-md-3 col-sm-12">
        <img src="components/images/projects/wedding/wedding-program2.jpg" class="img-fluid fill mb-4"/>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-6 col-sm-12">
        <img src="components/images/projects/wedding/wedding-guestbook.jpg" class="img-fluid fill"/>
    </div>

    <div class="col-md-4 col-sm-12">
        <img src="components/images/projects/wedding/wedding-drink.jpg" class="img-fluid fill relative wedding-drink"/>
    </div>
</div>

<img src="components/images/projects/wedding/wedding-favor.jpg" class="img-fluid fill col-md-4 wedding-favor"/>
