/* app css stylesheet */

*, h1, h2, h3, body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    /*color: #F8F9FA;*/
}

a {
    color: #ee0789;
}

a:hover {
    color: #ee0789;
    text-decoration: underline;
}

a:visited {
    color: #ee0789;
}

a:active, .active {
    color: #000000;
    text-decoration: underline;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 60px;
    background-color: #ffffff;
}

.alternate-bg {
    background-color: #f3f3f3;
}

.header-row {
    padding-top: 1rem;
}

.footer {
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}

@media (min-width: 768px) {
    .pull-sm-right {
        float: right;
    }
}

@media (max-width: 767px) {
    .hide-xs {
        display: none;
    }
}

.logo {
    height: 2rem;
}

.logo-container {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 10px;
}

ul.navigation {
    list-style: none;
    padding: 0;
}

.navigation-link {
    color: #000000;
    font-size: 1.75rem;
}

.navigation-link-muted {
    font-size: 1.4em;
    /*color: #e6e7e8;*/
    color: #ffffff;
}

.view-content {
    margin-top: 20px;
}

.portfolio-image {
    max-height: 700px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.pink {
    color: #ee0789;
}

.headshot {
    margin: 0 auto;
    margin-bottom: 20px;
}

div.aboutme {
    width: 100%;
    margin: 0 auto;
}

.clearDiv {
    height: 20px;
}

span.viewer {
    display: block;
}

span.viewer-title {
    font-weight: 600;
    font-size: 1.25em;
    margin-bottom: 5px;
}

span.viewer-date {
    margin-bottom: 5px;
}

span.viewer-dimensions {
    margin-bottom: 5px;
}

span.viewer-description {

}

.text-bold {
    font-weight: 600;
}

.text-muted {
    /*color: #e6e7e8;*/
}

hr.content-divider {
    clear: both;
}

div.about {
    font-size: 1.25em;
}

@media (min-width: 992px) {
    div.about {
        padding-top: 100px;
    }
}

.headshot-container {
    padding-left: 0;
}

.image-row {
    padding: 0 0 30px 0;
}

.viewer-content {

}

.back, .back:hover, .back:visited {
    text-decoration: none;
    color: #000000;
}

.back > img {
    height: 3em;
    display: inline-block;
}

.back > span {
    display: inline-block;

}

.back-container {
    margin-bottom: 1em;
}

.no-padding {
    padding: 0;
}

/** Resume */
img.resume {
    width: 100%;
    min-width: 500px;
    padding: 25px 0;
}

/* Image placement */

/** PRCV */
@media (min-width: 992px) {

    .relative {
        position: relative;
    }

    .absolute {
        position: absolute;
    }

    img.prcv-1 {
    }

    img.prcv-2 {
    }

    img.prcv-3 {
    }

    img.prcv-4 {
        top: -127px;
    }

    img.prcv-5 {
        top: -272px;
    }

    img.prcv-6 {
        top: -127px;
    }

    div.prcv-container-1 {
        top: -127px;
    }
}

@media (max-width: 992px) {
    .pad-bottom {
        padding-bottom: 30px;
    }
}

/** Revolutions */
div.img-grid-table > .row > div > img {
    margin-bottom: 30px;
}

/** Selfie */
@media (min-width: 992px) {
    img.selfie-1 {
        width: 50%;
    }
}

@media (max-width: 992px) {
    img.selfie-1 {
        width: 100%;
    }
}

img.selfie-1 {
    padding-bottom: 30px;
}

/** Retrace */
@media (min-width: 992px) {
    .retrace-video {
        padding: 0 50px 20px 50px;
    }
}

@media (max-width: 992px) {
    .retrace-video {
        padding: 0 0 20px 0;
    }
}

/** Moving Type */
@media (min-width: 992px) {
    .type-video {
        padding: 0 50px 20px 50px;
    }
}

@media (max-width: 992px) {
    .type-video {
        padding: 0 0 20px 0;
    }
}

/** Warrior */
@media (min-width: 992px) {
    img.warrior-1 {
        width: 50%;
    }
}

@media (max-width: 992px) {
    img.warrior-1 {
        width: 100%;
    }
}

/** Wedding */
@media (min-width: 992px) {

    img.wedding-drink {
        top: -200px;
    }

    img.wedding-favor {
        left: 66%;
        top: -200px;
    }
}

img.wedding-favor {
    padding: 0;
}