<div class="img-grid-table">
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <img src="components/images/projects/metropolis/metropolis-image1.jpg" class="img-responsive"/>
        </div>

        <div class="col-lg-6 col-xs-12">
            <img src="components/images/projects/metropolis/metropolis-image2.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <img src="components/images/projects/metropolis/metropolis-image3.jpg" class="img-responsive"/>
        </div>

        <div class="col-lg-6 col-xs-12">
            <img src="components/images/projects/metropolis/metropolis-image4.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <img src="components/images/projects/metropolis/metropolis-spread1.jpg" class="img-responsive"/>
        </div>

        <div class="col-lg-6 col-xs-12">
            <img src="components/images/projects/metropolis/metropolis-spread2.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <img src="components/images/projects/metropolis/metropolis-spread3.jpg" class="img-responsive"/>
        </div>

        <div class="col-lg-6 col-xs-12">
            <img src="components/images/projects/metropolis/metropolis-spread4.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <img src="components/images/projects/metropolis/metropolis-spread5.jpg" class="img-responsive"/>
        </div>
    </div>
</div>

