<div class="type-video">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3UF1AcmtAKA" allowfullscreen></iframe>
    </div>
</div>

<div class="type-video">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WoVV6bjy-w8" allowfullscreen></iframe>
    </div>
</div>

<div class="type-video">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xPLER6l9E6Y" allowfullscreen></iframe>
    </div>
</div>