<div class="img-grid-table">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/revolutions/revolutions-image1.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/revolutions/revolutions-image2.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/revolutions/revolutions-image3.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/revolutions/revolutions-image4.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/revolutions/revolutions-spread1.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/revolutions/revolutions-spread2.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/revolutions/revolutions-spread3.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/revolutions/revolutions-spread4.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/revolutions/revolutions-spread5.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/revolutions/revolutions-spread6.jpg" class="img-responsive"/>
        </div>
    </div>
</div>