<div class="img-grid-table">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/tech/tech-front.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/tech/tech-back.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/tech/tech-image1.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-6 col-xs-12">
            <img src="components/images/projects/tech/tech-image2.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <img src="components/images/projects/tech/tech-image3.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-xs-12">
            <img src="components/images/projects/tech/tech-image4.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-4 col-xs-12">
            <img src="components/images/projects/tech/tech-image5.jpg" class="img-responsive"/>
        </div>
    </div>

</div>
