<div class="img-grid-table">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="components/images/projects/wedding/wedding-image1.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="components/images/projects/wedding/wedding-image2.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-12">
            <img src="components/images/projects/wedding/wedding-button.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="components/images/projects/wedding/wedding-invitation.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-6 col-sm-12">
            <img src="components/images/projects/wedding/wedding-details.png" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="components/images/projects/wedding/wedding-seatingchart.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-3 col-sm-12">
            <img src="components/images/projects/wedding/wedding-program1.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-3 col-sm-12">
            <img src="components/images/projects/wedding/wedding-program2.jpg" class="img-responsive"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="components/images/projects/wedding/wedding-guestbook.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-4 col-sm-12">
            <img src="components/images/projects/wedding/wedding-drink.jpg" class="img-responsive relative wedding-drink"/>
        </div>
    </div>

    <img src="components/images/projects/wedding/wedding-favor.jpg" class="img-responsive col-md-4 wedding-favor"/>
</div>